@media (max-width: 1200px)
  .container
    max-width: 960px
@media ( max-width:992px)
  .container
    max-width: 760px
  .navbar
    &__search
      margin-left: auto
@media (max-width:768px)
  .container
    max-width: 627px
    
  .navbar
    &-menu
      font-size: 12px
  .search
    &__input
      max-width: 340px   
  .logo
    max-width: 132px
@media (max-width:620px)
  .container
    max-width: 95%
  .navbar
    &__search,&-bottom
      display: none
  .user
    display: none
      
@media (max-width:320px)
  .container
    max-width: 285px
    background-color: $dark
  .navbar
    &__search
      display: none
      
 
    
  
  
